{% layout settings.customer_layout %}
<div id="customers-section">
<div id="template">
  <div id="customer">
    <div class="extra-border clearfix">
      <h1 class="title">Customer Login</h1>
    </div>

    {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <div id="login_email" class="clearfix large_form">
        <label for="customer_email" class="login">Email Address</label>
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
      </div>

      {% if form.password_needed %}

        <div id="login_password" class="clearfix large_form">
          <label for="customer_password" class="login">Password</label>
          <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
          <div id="forgot_password">
            <a href="#" onclick="showRecoverPasswordForm()">Forgot your password?</a>
          </div>
        </div>

      {% endif %}

      <div class="customer-note" style="padding-left:122px">
        <input class="standard-button" type="submit" value="Sign into account" />
        
      </div>
    {% endform %}
  </div>

  <div id="recover-password" style='display:none'>
	
	<div class="extra-border clearfix">
		<h2 class="title">Reset Password</h2>
	</div><!-- .extra-border clearfix -->

 <p class="customer-note">We will send you an email to reset your password.</p>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="recover_email" class="clearfix large_form">
        <label for="email" class="large" style="width:50px">Email</label>
        <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
      </div>
      <div class="customer-note">
        <input class="standard-button" type="submit" value="Submit" />
        <span class="customer-note">or <a href="#" onclick="hideRecoverPasswordForm()">Cancel</a></span>
      </div>
    {% endform %}
  </div>

  {% if shop.checkout.guest_login %}
  <div id="guest">
    <p>If you don't have a login yet, you can checkout right away as a guest</p>
    {% form 'guest_login' %}
      <input class="btn" type="submit" value="Continue as Guest" />
    {% endform %}
  </div>
  {% endif %}
</div>
</div><!-- .customers-section -->


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('customer').style.display='none';
    document.getElementById('guest').style.display = 'none';
    return false;
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'block';
    document.getElementById('guest').style.display = 'block';
    return false;

  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
