<div class=" col-5 clearfix page">
	
	<div class="extra-border clearfix">
			<h1>{{ page.title }}</h1>
	</div><!-- .extra-border -->

		</div><!-- .page -->

		<div class="col-7 clearfix last  ">

			{{ page.content }}

		</div>

